# Ignore everything
*
*/.env

# Do not ignore directories
!*/

# Do not ignore specific files
!**/docker-compose.yml
!**/docker-compose.yaml
!**/.gitignore
!**/README.md
!**/LICENSE
!**/LICENSE.txt
!**/.env.example



# Ignore data/config content inside those folders again just to be safe
**/data/*
**/config/*


# Unignore the YAML and CSS files inside that config folder
!/infrastructure/homepage/config/*.yaml
!/infrastructure/homepage/config/*.css