services:

  #### PORTAINER ####
  portainer:
    image: portainer/portainer-ce:lts
    container_name: portainer
    restart: unless-stopped
    networks:
      - infrastructure-nw
    security_opt:
      - no-new-privileges:true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Allows Portainer to talk to Docker
      - ./portainer/data/:/data
    ports:
      - "9443:9443"


  #### UPTIME KUMA ####
  uptime-kuma:
    image: louislam/uptime-kuma:latest
    container_name: uptime-kuma
    restart: always
    ports:
      - "3001:3001"  #
    volumes:
      - ./uptimekuma/app/data:/app/data
    environment:
      - TZ=America/Vancouver 
      - UMASK=002  # Set file permissions
    networks:
      - infrastructure-nw
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001"]
      interval: 30s
      retries: 3
      start_period: 10s
      timeout: 5s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"


    #### DUCKDNS ####
  duckdns:
    image: lscr.io/linuxserver/duckdns:latest
    container_name: duckdns
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Vancouver
      - SUBDOMAINS=${DUCKDNS_SUBDOMAINS}
      - TOKEN=${DUCKDNS_TOKEN}
      - LOG_FILE=true                   
    networks:
      - infrastructure-nw



  #### SPEEDTEST TRACKER ####

  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    container_name: speedtest-tracker
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Vancouver
      - APP_KEY=${SPEEDTEST_APP_KEY}
      - DB_CONNECTION=sqlite
      - DISPLAY_TIMEZONE=America/Vancouver
      - SPEEDTEST_SCHEDULE=*/10 * * * *
    volumes:
      - ./speedtest/config:/config
    ports:
      - 80:80
    restart: unless-stopped


  #### HEIMDALL ####
  heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    container_name: heimdall
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Vancouver
    volumes:
      - ./heimdall/config:/config
    ports:
      - "8011:80"
      - "7443:443"
    networks:
      - infrastructure-nw


  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      HOMEPAGE_ALLOWED_HOSTS: 192.168.1.112:3132,home.lukasscarfe.com # required, may need port. See gethomepage.dev/installation/#homepage_allowed_hosts
      PUID: 1000
      PGID: 984
    ports:
      - 3132:3000
    volumes:
      - ./homepage/config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    env_file:
      - .env
    restart: unless-stopped

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-server
    restart: unless-stopped
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    command: tunnel --no-autoupdate run
    network_mode: host
#
networks:
  infrastructure-nw:
    name: infrastructure-nw
    driver: bridge