services:

  #### MINI-QR: QR Code Generator ####
  mini-qr:
    image: ghcr.io/lyqht/mini-qr:main
    container_name: mini-qr
    restart: unless-stopped
    ports:
      - "5675:8080"
    volumes:
      - ./mini-qr/data:/app/data
    networks:
      - tools-nw
    environment:
      - VITE_HIDE_CREDITS=true
      - VITE_QR_CODE_PRESETS='[{"props":{"data":"Have nice day!","image":"https://raw.githubusercontent.com/LukasScarfe/personal_site/refs/heads/master/assets/img/logo2.png","width":200,"height":200,"margin":0,"dotsOptions":{"color":"#640000","type":"dots"},"cornersSquareOptions":{"color":"#640000","type":"square"},"cornersDotOptions":{"color":"#640000","type":"square"},"imageOptions":{"margin":0},"qrOptions":{"errorCorrectionLevel":"H"}},"style":{"borderRadius":"24px","background":"#ffffff"},"frame":null}]'
      - VITE_DEFAULT_PRESET="c1"

  #### MEALIE: Recipe Manager & Meal Planner ####
  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest
    container_name: mealie
    restart: unless-stopped
    ports:
      - "9925:9000"
    volumes:
      - ./mealie/app/data:/app/data
    environment:
      - TZ=America/Vancouver
    networks:
      - tools-nw



  #### METUBE: YouTube Video Downloader ####
  metube:
    image: ghcr.io/alexta69/metube:latest
    container_name: metube
    restart: unless-stopped
    ports:
      - "8081:8081"
    volumes:
      - ${YOUTUBE_DOWNLOADS_DIR}:/downloads
    networks:
      - tools-nw



  #### VS Code Server: Michelle's Code ####
  vscode:
    image: lscr.io/linuxserver/code-server:latest
    container_name: vscode
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Vancouver
      - PASSWORD=${VSCODE_PASS}
      - SUDO_PASSWORD=${VSCODE_PASS}
      - DEFAULT_WORKSPACE=./vscode/config/workspaces/Anki 
    restart: unless-stopped
    ports:
      - 8443:8443
    volumes:
      - ./vscode/config:/config
    networks:
      - tools-nw




  #### HUGINN: Automation Agent System ####
  huginn:
    image: huginn/huginn
    container_name: huginn
    restart: unless-stopped
    ports:
      - "3002:3000"
    volumes:
      - ./huginn/data:/var/lib/mysql
    networks:
      - tools-nw
    environment:
      - TZ=America/Vancouver
      - HUGINN_DATABASE_NAME=huginn
      - HUGINN_DATABASE_USERNAME=root
      - HUGINN_DATABASE_PASSWORD=${HUGINN_DB_PASS}
      - HUGINN_DATABASE_ADAPTER=mysql2
      - HUGINN_DATABASE_HOST=huginn-db
      - REDIS_URL=redis://huginn-redis:6379/0
      - INTENTIONALLY_SLEEP=10
    depends_on:
      - huginn-db
      - huginn-redis

  #### HUGINN DB: MySQL Storage ####
  huginn-db:
    image: mariadb:10.5
    container_name: huginn-db
    restart: unless-stopped
    networks:
      - tools-nw
    environment:
      - MYSQL_ROOT_PASSWORD=${HUGINN_DB_PASS}
      - MYSQL_DATABASE=huginn
    volumes:
      - ./huginn/mysql:/var/lib/mysql

  #### HUGINN REDIS: Performance Cache ####
  huginn-redis:
    image: redis:6-alpine
    container_name: huginn-redis
    restart: unless-stopped
    networks:
      - tools-nw
  



networks:
  tools-nw:
    name: tools-nw
    driver: bridge