services:

  #### MINI-QR: QR Code Generator ####
  mini-qr:
    image: ghcr.io/lyqht/mini-qr:main
    container_name: mini-qr
    restart: unless-stopped
    ports:
      - "5675:8080"
    volumes:
      - ./mini-qr/data:/app/data
    networks:
      - tools-nw
    environment:
      - VITE_HIDE_CREDITS=true
      - VITE_QR_CODE_PRESETS='[{"props":{"data":"Have nice day!","image":"https://raw.githubusercontent.com/LukasScarfe/personal_site/refs/heads/master/assets/img/logo2.png","width":200,"height":200,"margin":0,"dotsOptions":{"color":"#640000","type":"dots"},"cornersSquareOptions":{"color":"#640000","type":"square"},"cornersDotOptions":{"color":"#640000","type":"square"},"imageOptions":{"margin":0},"qrOptions":{"errorCorrectionLevel":"H"}},"style":{"borderRadius":"24px","background":"#ffffff"},"frame":null}]'
      - VITE_DEFAULT_PRESET="c1"

  #### MEALIE: Recipe Manager & Meal Planner ####
  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest
    container_name: mealie
    restart: unless-stopped
    ports:
      - "9925:9000"
    volumes:
      - ./mealie/app/data:/app/data
    environment:
      - TZ=America/Vancouver
    networks:
      - tools-nw



  #### METUBE: YouTube Video Downloader ####
  metube:
    image: ghcr.io/alexta69/metube:latest
    container_name: metube
    restart: unless-stopped
    ports:
      - "8081:8081"
    volumes:
      - ${YOUTUBE_DOWNLOADS_DIR}:/downloads
    networks:
      - tools-nw



  #### VS Code Server: Michelle's Code ####
  vscode:
    image: lscr.io/linuxserver/code-server:latest
    container_name: vscode
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Vancouver
      - PASSWORD=${VSCODE_PASS}
      - SUDO_PASSWORD=${VSCODE_PASS}
      - DEFAULT_WORKSPACE=./vscode/config/workspaces/Anki 
    restart: unless-stopped
    ports:
      - 8443:8443
    volumes:
      - ./vscode/config:/config
    networks:
      - tools-nw


  huginn:
    container_name: huginn
    #image: mjysci/huginn:arm32v7 
    #Use image for what you have Mjysci is for arm/aarch64. use huginn/huginn for AMD/linux x86 
    image: ghcr.io/huginn/huginn
    depends_on:
      - mysql-huginn
    ports:
      - "3335:3000" #keep inernal port mapped to 3000, you can map external port anywhere you want
    volumes:
      - "./huginn/data:/var/lib/mySQL" 
    #maps container volume to local directory called data in directory this compose file is saved in
      - "./huginn:/app/huginn"
    #This will create a new volume called huginn that is stored in a local directory called huginn (relative to the location of the Docker Compose file) and is mounted to the /app/huginn directory in the huginn container.
    restart: unless-stopped
    links:
      - mysql-huginn
  mysql-huginn:
    container_name: mysql-hugin
    #image: yobasystems/alpine-mariadb:10.4.17-arm32v7
    image: mysql:latest
    #Comment out the image you do not want to use. mysql:lates is for AMD or x84 linux
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: always
    volumes:
      - "./huginn/database:/var/lib/mysql"
    environment:
      MYSQL_ROOT_PASSWORD: huginn #change this or use .env file for security
      MYSQL_PASSWORD: huginn #Change this default PW
      MYSQL_DATABASE: huginn
      MYSQL_USER: huginn


  yourls:
    image: yourls
    container_name: yourls
    restart: always
    depends_on:
      - mysql-yourls
    ports:
      - 8189:8080
    environment:
      - YOURLS_DB_HOST=mysql-yourls 
      - YOURLS_DB_USER=${YOURLS_DB_USER}
      - YOURLS_DB_PASS=${YOURLS_DB_PASS}
      - YOURLS_DB_NAME=yourls_db
      - YOURLS_SITE=${YOURLS_ADDRESS}
      - YOURLS_USER=${YOURLS_USER}
      - YOURLS_PASS=${YOURLS_PASS}
      - YOURLS_PRIVATE=true
  mysql-yourls:
    image: mysql
    container_name: mysql-yourls
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${YOURLS_DB_PASS}
      - MYSQL_DATABASE=yourls_db
    volumes:
      - ./yourls/db:/var/lib/mysql


  octoprint:
    image: octoprint/octoprint:latest
    container_name: octoprint
    restart: unless-stopped
    ports:
      - "8888:80"
    volumes:
      - ./octoprint:/octoprint
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0 
      - /dev/video0:/dev/video0 
    environment:
      - ENABLE_MJPG_STREAMER=true
      - TZ=America/Vancouver



networks:
  tools-nw:
    name: tools-nw
    driver: bridge